<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://unpkg.com/mvp.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>콜렉터 북북이</h1>
    </header>
    <center>
      <form id="search_form" action="/search">
        <input
          type="search"
          placeholder="keyword"
          id="search_input"
          name="q"
        />
        <button type="submit">검색</button>
      </form>
    </center>
  </header>
  <main>
    {{keyword}}
  </main>
  </body>
</html>
