<!DOCTYPE html>
<html lang="en">
  <head>
    <title>콜렉터</title>
    <link href="https://unpkg.com/mvp.css" rel="stylesheet" />
  </head>
  <style>
    section {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
  </style>
  <body>
    <header>
      <h1>콜렉터스 북북이</h1>
      <center>
        <form id="search_form" action="/search">
          <input
            type="search"
            placeholder="keyword"
            id="search_input"
            name="q"
          />
          <button type="submit">검색</button>
        </form>
      </center>
    </header>
    <main>
      <!-- 다음 강의에 진행됩니다. -->
    </main>
  </body>
</html>
