<!DOCTYPE html>
<html lang="en">
  <head>
    <title>콜렉터</title>
    <link href="https://unpkg.com/mvp.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>콜렉터</h1>
      <center>
        <form id="search_form" action="/search">
          <input
            type="search"
            placeholder="keyword"
            id="search_input"
            name="q"
          />
          <button type="submit">검색</button>
        </form>
      </center>
    </header>
    <main>
      {% if result %} {{result}} {% else %}
      <center><h3 style="color: gray">Please Input Keyword...</h3></center>
      {% endif %}
    </main>
    <!-- <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> -->
  </body>
</html>
